<?php
$CONFIG = array (
  'instanceid' => '{{ nextcloud_instance_id }}',
  'passwordsalt' => '{{ nextcloud_password_salt}}',
  'secret' => '{{ nextcloud_secret }}',
  'trusted_domains' =>
  array (
    0 => '{{ nextcloud_domain }}',
  ),
  'datadirectory' => '{{ nextcloud_data_dir }}',
  'dbtype' => '{{ nextcloud_db_type }}',
  'version' => '19.0.0.12',
  'overwrite.cli.url' => 'http://{{ nextcloud_domain }}',
  'dbname' => '{{ nextcloud_db_name }}',
  'dbhost' => '{{ nextcloud_db_host }}',
  'dbport' => '{{ nextcloud_db_port }}',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ nextcloud_db_user }}',
  'dbpassword' => '{{ nextcloud_db_pass }}',
  'installed' => true,
);
